* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    z-index: 10;
}
.main-content {
    display: grid;
    z-index: 10;
    grid-template: "empty-left box-left empty-center box-info empty-right" 400px /
                    240px      1fr      180px        1fr      240px; 
}
.box-left {
    grid-area: box-left;
    grid-template: "box-img"
                   "box-thumbnail" /
                   1fr;
}
.box-img {
    grid-area: box-img;
}

.main-img {
    width: 95%;
    border-radius: 20px;
    cursor: pointer;
}
.box-img-fixed{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000093;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img-fixed-hidden{
    display: none;
}
.box-img-selected{
    width: 500px;
    height: 500px;
}
.main-img-fixed{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.box-icons{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.xmark{
    font-size: 1.5em;
    margin-left: 500px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
}
.xmark:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);
}
.box-icons:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);
}
.box-icons-left{
    position: relative;
    top: -305px;
    left: -25px;
}
.box-icons-right{
    position: relative;
    top: -355px;
    left: 475px;
}
.img-hidden{
    display: none;
}
.icon-style{
    font-size: 1.3em;
}
.box-thumbnail {
    grid-area: box-thumbnail;
    display: grid;
    margin-left: -2px;
    grid-template: "thumb-1 thumb-2 thumb-3 thumb-4" /
                    145px     145px     145px     145px
}
.thumb-1 {
    grid-area: thumb-1;
}
.thumb-2 {
    grid-area: thumb-2;
}
.thumb-3 {
    grid-area: thumb-3;
}
.thumb-4 {
    grid-area: thumb-4;
}
.thumb {
    width: 100%;
    border-radius: 30px;
    z-index: 10;
    cursor: pointer;
}
.thumb:hover{
    opacity: 0.7;
}
.box-thumb{
    margin: 5px;
}
.box-thumb:hover{
    position: relative;
    background-color: black;
    z-index: 20;
    height: 135px;
    border-radius: 30px;
}

.box-info {
    grid-area: box-info;
}

p{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    width: 10%;
    border-radius: 15px;
    margin-left: 225px;
}